{% extends 'index.html' %}

{% block body %}

<div class="row">
    <div class="card card-body">
        <h1 style="text-align: center;">Integrated Production List</h1>
    </div>
</div>
<br>
<table id="ipp-table" class="table table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th>NOD</th>
            <th>Mission Line</th>
            <th>Project Title</th>
            <th>Status</th>
            <th>Lead Office</th>
            <th>Project Lead</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for project in all_projects %}
        <tr>
            <td>{{project.nod_problem}}</td>
            <td>{{project.mission_line}}</td>
            <td>{{project.project_title}}</td>
            <td>{{project.project_status}}</td>
            <td>{{project.lead_office}}</td>
            <td>{{project.project_lead}}</td>
            <td>{{project.project_start_date}}</td>
            <td>{{project.project_due_date}}</td>
            <td>
                <div class="button-group">
                    <a href="/project/{{project.id}}" class="btn btn-primary btn-sm" role="button">View</a>
                    <a href="/project/{{project.id}}/edit" class="btn peach-gradient btn-sm" role="button">Edit</a>
                </div>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock body %}